.node {
    border: lightblue 1px solid;
    background-color: white;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 0;
}

.node-start {
    border: lightblue 1px solid;
    width: 25px;
    height: 25px;
    background-color: darkgoldenrod;
    display: inline-block;
    margin: 0 0;
}

.node-finish {
    border: lightblue 1px solid;
    width: 25px;
    height: 25px;
    background-color: darkblue;
    display: inline-block;
    margin: 0 0;
}

.node-shortest-path {
  border: lightblue 1px solid;
  width: 25px;
  height: 25px;
  background-color: rgb(0, 255, 64);
  display: inline-block;
  margin: 0 0;
}

.node-animation {
  border: lightblue 1px solid;
  width: 25px;
  height: 25px;
  background-color: rgb(0, 195, 255);
  display: inline-block;
  margin: 0 0;
}