.node {
    border: lightblue 1px solid;
    background-color: white;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 0;
}

.node-start {
    border: lightblue 1px solid;
    width: 25px;
    height: 25px;
    background-color: darkgoldenrod;
    display: inline-block;
    margin: 0 0;
}

.node-finish {
    border: lightblue 1px solid;
    width: 25px;
    height: 25px;
    background-color: darkblue;
    display: inline-block;
    margin: 0 0;
}

.node-shortest-path {
  border: lightblue 1px solid;
  width: 25px;
  height: 25px;
  background-color: black;
  display: inline-block;
  margin: 0 0;
}
  /* .clicked-node {
    border-width: 2px;
    border-color: lightblue;
    background-color: black;
    width: 25px;
    height: 25px;
  } */
/*   
  .node:hover {
    background-color: red;
  }
  
  .node:focus {
    outline: none;
  }
  
  .clicked-node:focus {
    outline: none;
  } */