.title-header {
  background-color: #1e00a5;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 5px 0;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  justify-content: center;
  background-color: cadetblue;
  margin: 0 0;
}

.nav-element {
  margin: 0 20px;
}

