.title-header {
  background-color: #1e00a5;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 5px 0;
  font-weight: bold;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  justify-content: center;
  background-color: cadetblue;
  margin: 0 0;
}

.nav-element {
  margin: 0 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1e00a5;
  text-align: center;
  color: white;
}

#dropdown-basic-button {
  background-color: cadetblue;
  border: none;
  font-size: 30px; 
  font-weight: bold;
}

#dropdown-basic-button:focus {
  outline: none;
  box-shadow: none;
}

#dropdown-basic-button:hover{
  color: brown;
}