.title-header {
  background-color: #1e00a5;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 5px 0;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  justify-content: center;
  background-color: cadetblue;
  margin: 0 0;
}

.nav-element {
  margin: 0 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1e00a5;
  text-align: center;
  color: white;
}

.node {
  border-width: 2px;
  border-color: lightblue;
  background-color: white;
  width: 25px;
  height: 25px;
}

.clicked-node {
  border-width: 2px;
  border-color: lightblue;
  background-color: black;
  width: 25px;
  height: 25px;
}

.node:hover {
  background-color: red;
}

.node:focus {
  outline: none;
}

.clicked-node:focus {
  outline: none;
}